@import '../abstracts/variables';

.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zIndex-max;
  background-color: $opacity-color;
}

.error-text {
  font-size: 0.85em;
  color: $error-color;
}
